<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vladimir Sverdlov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')  }}" />
</head>

<body>
    <div class="mid">
        <div class="menu">
            <ul>
                <li><a href='/'>Главная</a></li>
                <li><a href='/posts'>Посты</a></li>
                <li><a href='/contacts'>Контакты</a></li>
            </ul>
        </div>
     <div class="content">
        <p>Всем привет! Меня зовут Владимир Свердлов, я студент 1 курса МФТИ.</p>

        <p>А что писать... Вот анекдот:</p>

        <p>
        Студент сдает экзамен, а препод его валит...</br>
        -Нехорошо, - говорит препод, - если отвечаешь на этот вопрос - то
        сдал... Сколько в этой аудитории лампочек?</br>
        Студент, быстро считая:</br>
        -Девять!</br>
        Препод, доставая из кармана лампочку:</br>
        -Неправильно! Лампочек десять. Придется тебе пересдавать...</br>
        Пересдача, та же ситуация... Препод задает тот же вопрос...</br>
        Студент (не задумываясь):</br>
        -Десять.</br>
        Препод с ехидной улыбкой:</br>
        -Нет, неправильно, я сегодня лампочку не взял...</br>
        Студент вытаскивает лампочку из кармана:</br>
        -Зато я взял!
        </p>

    </div>
    </div>
</body>
