<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vladimir Sverdlov</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
    <div class="mid">
        <div class="menu">
            <ul>
                <li><a href='/'>Главная</a></li>
                <li><a href='/posts'>Посты</a></li>
                <li><a href='/contacts'>Контакты</a></li>
            </ul>
        </div>

        <div class="content">
            <form name="save" action="{{ url_for('save') }}" method="post">
                <textarea name="text"></textarea>
                <br>
                <input id="save" value='Save' type="submit">
            </form>
        </div>
    </div>
</body>
